.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(95, 95, 194);
    color: white;
    border: none;
}
